<h5><%= link_to "All Categories", categories_path %></h5>
<h5><%= link_to "Back to #{@category.title}", category_path(@category) %></h5>

<h2>Edit <% @category.title %> here!</h2>

<%= render partial: "form" %>
